form table#blocks tr.region-title {
  background-color: #f8f8f8;
}
form table#blocks tr.block-not-visible {
  background-color: #fff0f0;
}
form table#blocks tr.block-disabled {
  background-color: #ffe0e0;
}
form table#blocks tbody td .title {
  font-weight: bold;
}
form table#blocks tbody td .title-invisible {
  color: #999999;
}
form table#blocks tbody td .description,
form table#blocks tbody td .block-plugin-id,
form table#blocks tbody td .schedule-info,
form table#blocks tbody td .disabled {
  margin-left: 27px;
  font-size: 0.85em;
}
form table#blocks tbody td .block-plugin-id,
form table#blocks tbody td .schedule-info,
form table#blocks tbody td .disabled {
  font-style: italic;
}
form table#blocks tbody td .disabled {
  color: #dd0000;
}
form table#blocks tbody td details {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em 0.3em 0.5em;
}
form table#blocks tbody td details summary {
  font-weight: normal;
  text-transform: none;
  padding: 0 0 0.2em 0;
}
