{#
/**
 * @file
 * Default theme implementation for the output of the build function of JsonBaseBlock.
 *
 * Available variables:
 * - blockType: Block type.
 * - loadtime: Loading time in milliseconds.
 * - content: The content array.
 */
#}
Block: <strong>{{ blockType }}</strong><br>
Load time: {{ loadtime }}ms<br>
Content:
{{ content ?: '<nothing>' }}
